@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.bg-img {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 2734px;
    background: url(../images/bg.png)100% no-repeat;
}

.navbar-inverse {
    height: 74px;
    line-height: 74px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 7px 109px 0px rgba(4, 0, 0, 0.1);
}

.navbar-brand {
    height: 74px;
    padding: 22px 15px;
}

.navbar-brand>img {
    height: 30px;
}

footer {
    background-color: #525562;
    width: 100%;
    height: 445px;
    overflow: hidden;
    margin-top: -63px;
}

footer .content-box {
    /* width: 1500px; 
    position: absolute;
    left: 50%;
    margin-left: -750px; */
}

footer .content-box .left-box {
    float: left;
}

footer .content-box .center-box {
    float: left;
}

footer .content-box .right-box {
    float: left;
}

footer .content-box .left-box .logo-box {
    overflow: hidden;
}

footer .content-box .left-box .logo-box img {
    float: left;
}

footer .content-box .left-box .logo-box img:first-child {
    width: 46px;
    height: 51px;
    margin-top: 103px;
}

footer .content-box .left-box .logo-box img:last-child {
    width: 169px;
    height: 22px;
    margin-top: 121px;
    margin-left: 51px;
}

footer .content-box .left-box .text {
    font-size: 12px;
    color: #ffffff;
    margin-top: 218px;
}

footer .content-box .center-box {
    margin-top: 96px;
    margin-left: 80px;
}

footer .content-box .center-box #content {
    width: 522px;
    height: 167px;
    overflow: hidden;
}

footer .content-box .center-box #content div {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    color: #ffffff;
    float: left;
    width: 174px;
    text-align: left;
    margin-bottom: 25px;
}

footer .content-box .right-box .top-box {
    position: relative;
}

footer .content-box .right-box .top-box .top-name {
    color: #ffffff;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    margin-top: 96px;
    margin-bottom: 29px;
}

footer .content-box .right-box .top-box #content1 {}

footer .content-box .right-box .top-box #content1 img {
    float: left;
    margin-right: 24px;
}

footer .content-box .right-box .top-box #content1 img:last-child {
    margin-right: 0px;
}

footer .content-box .right-box .top-box #content1 .facebook {
    width: 11px;
    height: 20px;
}

footer .content-box .right-box .top-box #content1 .bird {
    width: 24px;
    height: 20px;
}

footer .content-box .right-box .top-box #content1 .camera {
    width: 20px;
    height: 19px;
}

footer .content-box .right-box .top-box #content1 .camera1 {
    width: 20px;
    height: 19px;
    cursor: pointer;
}

footer .content-box .right-box .top-box #content1 .player {
    width: 28px;
    height: 21px;
}

footer .content-box .right-box .top-box #content1 .m {
    width: 22px;
    height: 22px;
}

.personcode {
    width: 140px;
    position: absolute;
    left: 0px;
    top: 70px;
    display: none;
}

.personcode img {
    width: 140px;
}

.entry-trangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

footer .content-box .right-box .bottom-box {}

footer .content-box .right-box .bottom-box #content2 {
    margin-top: 260px;
}

footer .content-box .right-box .bottom-box #content2 div {
    float: left;
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    width: 97px;
    border-right: 1px solid #ffffff;
    box-sizing: border-box;
    text-align: center;
}

footer .content-box .right-box .bottom-box #content2 div:first-child {
    text-align: left;
}

footer .content-box .right-box .bottom-box #content2 div:last-child {
    border-right: none;
}

.navbar-inverse .navbar-nav>li {
    position: relative;
    cursor: pointer;
}

.navbar-inverse .navbar-nav>li>a {
    font-weight: bold;
    color: #333333;
    font-size: 16px;
    padding: 27px 20px;
    position: relative;
}

.navbar-inverse .navbar-nav>li>.under-line {
    position: absolute;
    bottom: 26px;
    width: 100%;
    height: 2px;
    padding: 0 35px;
    box-sizing: border-box;
}

.navbar-inverse .navbar-nav>li>.under-line:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}

.navbar-inverse .navbar-nav>.selected>.under-line:after {
    background: #FF2C7A;
}

.navbar-inverse ul.navbar-nav li a:hover {
    color: #333333;
}

.navbar-inverse ul.navbar-nav li a:focus {
    color: #333333!important;
}

.navbar-right {
    position: relative;
}

.language-box {
    width: 120px;
    height: 96px;
    background-color: #ffffff;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 54px;
    box-shadow: 0px 0px 7px 0px rgba(202, 202, 202, 0.35);
    border-radius: 4px;
    padding-top:14px;
    display: none;
}

.language-box div {
    color: #BBBBBB;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
}

.transfer-img {
    cursor: pointer;
}

/* turing-network */

.turing-network {
    width: 100%;
    /* height: 932px; */
    padding-top: 195px;
    box-sizing: border-box;
    text-align: center;
}

.turing-network .title {
    font-weight: bold;
    color: #212529;
    font-size: 100px;
    /* letter-spacing: 6px */
}

.turing-network .discribe {
    margin: 0 auto;
    width: 678px;
    color: #6D6A77;
    font-size: 26px;
    /* letter-spacing: 4px */
}

.turing-network .discribe1 {
    font-size: 14px;
    margin-top: 10px;
}

.turing-network .dividing-line {
    width: 446px;
    height: 1px;
    background: #EDEDED;
    margin: 38px auto 49px;
}

.turing-network .turing-network-btn {
    margin: 0px auto 196px;
    width: 420px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background: #FF2C7A;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

/* block-chain-network */

.block-chain-network {
    /* height: 298px; */
    text-align: center;
}

.block-chain-network .second-title {
    font-weight: bold;
    color: #484A65;
    font-size: 45px;
}

.block-chain-network .try-yourself {
    margin-top: 42px;
    margin-bottom: 94px;
    color: #8B9CB7;
    font-size: 22px;
}

/* today-quota */

.today-quota {
    /* height: 502px; */
    text-align: center;
}

.today-quota .third-title {
    display: none;
    font-size: 53px;
    font-weight: bold;
    color: #969696;
}

.img100 {
    width: 100px;
    height: 100px;
}

/*Application layer design for Web3.0*/

.web-second {
    overflow: hidden;
}

.web-second .second-title {}

.web-second #content3 {
    margin-top: 130px;
}

.web-second #content3 .second-box {
    background-color: #ffffff;
    overflow: hidden;
    margin-top: 30px;
}

.web-second #content3 .second-box .col1 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.web-second #content3 .second-box .col1 div {
    border-right: 1px solid #EDEDED;
    width: 90%;
}

.web-second #content3 .second-box .col1 img {
    width: 85%;
    margin-left: 8%;
}

.web-second #content3 .second-box .col2 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.web-second #content3 .second-box .col2 .col-title {
    color: #484A65;
    font-size: 24px;
    font-weight: bold;
}

.web-second #content3 .second-box .col2 .col-content {
    line-height: 26px;
    font-size: 14px;
    text-align: left;
}

.today-quota .percentage {
    display: none;
}

.today-quota .complete-progress {
    display: none;
    margin: 44px auto 0;
    width: 844px;
    height: 65px;
    border: 2px solid #FF2C7A;
    border-radius: 2px;
    position: relative;
    text-align: right;
}

.today-quota .complete-progress .percentage {
    line-height: 65px;
    font-size: 16px;
    color: #FF2C7A;
    position: relative;
    left: 47px;
}

.today-quota .finish-progress {
    position: absolute;
    top: 0;
    width: 591px;
    height: 0;
    border-top: 61px solid #FF2C7A;
    border-right: 15px solid transparent;
}

.today-quota .finish-count {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 61px;
    /* padding-right: 53px;
    box-sizing: border-box; */
    text-align: center;
    line-height: 61px;
    color: #969696;
    font-size: 20px;
}

.today-quota .inner-box {
    margin: 0 auto 195px;
    width: 844px;
    overflow: hidden;
    color: #FF2C7A;
    font-size: 26px;
    line-height: 65px;
    text-align: center;
}

.today-quota .inner-box .investors {
    float: left;
    width: 420px;
    height: 65px;
    margin-top: 20px;
    background: url('../images/investors.png');
    cursor: pointer;
}

.today-quota .inner-box .super-node-application {
    float: right;
    width: 420px;
    height: 65px;
    margin-top: 46px;
    background: url('../images/application.png');
    cursor: pointer;
}

/* application-layer-design */

.application-layer-design {
    margin-bottom: 90px;
}

.fourth-title {
    margin: 0 auto 130px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #484A65;
    position: relative;
}

.fourth-title .text-before {
    display: inline-block;
    border-bottom: 2px solid #FF2C7A;
    color: #FF2C7A;
}

.fourth-title .text-after {
    display: inline-block;
    border-bottom: 2px solid #484A65;
    margin-left: -7px;
}

.application-layer-design .design-item {
    margin-bottom: 125px;
}

.application-layer-design .design-left {
    padding-right: 62px;
}

.application-layer-design .design-title {
    font-weight: bold;
    font-size: 24px;
    color: #484A65;
    margin-bottom: 34px;
    text-align: left;
}

.application-layer-design .design-detail {
    width: 175px;
    height: 105px;
    font-size: 14px;
    color: #484A65;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: left;
}

/* Creative team */

.creative-team {
    padding: 108px 0 88px;
    background: #fff;
    text-align: center;
    margin-top: -120px!important;
}

.creative-team .fifth-title {
    font-size: 45px;
    font-weight: bold;
    color: #484A65;
    margin-bottom: 20px;
}

.creative-team .describe {
    font-size: 22px;
    color: #8B9CB7;
}

.creative-team-item {
    margin-top: 90px;
    padding: 0 20px;
}

.creative-team-img {
    margin-bottom: 44px;
}

.creative-team-name {
    font-size: 20px;
    font-weight: bold;
    color: #484A65;
    text-align: left;
    text-indent: 22px;
}

.creative-team-detail {
    width: 246px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 12px;
    color: #484A65;
    line-height: 23px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* 弹窗 */

.mask {
    display: none;
    width: 1200px;
    height: 450px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.mask-top {
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    position: relative;
    margin-bottom: 41px;
}

.tixing {
    position: absolute;
    z-index: -1;
    width: 1020px;
    border-top: 32px solid #000;
    border-right: 15px solid transparent;
}

.close-img {
    position: absolute;
    right: 90px;
    top: 9px;
    cursor: pointer;
}

.mask .left-part {
    padding-top: 15px;
    text-align: center;
}

.mask .left-part .left-text {
    width: 315px;
    height: 97px;
    padding: 20px 31px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    line-height: 21px;
    text-align: left;
    margin: 72px auto 0;
}

.mask .right-part {
    color: #fff;
    font-size: 14px;
    margin-top: -15px;
}

.mask .right-part .a78 {
    margin-top: 30px;
}

.mask .right-part .box {
    width: 283px;
    border-bottom: 1px solid #595959;
}

.mask .right-part .box:nth-child(1) {
    padding-bottom: 23px;
}

.mask .right-part .box:nth-child(2) {
    padding-top: 10px;
    padding-bottom: 78px;
}

.mask .right-part .title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.mask .right-part .title .red {
    color: #FF2C7A;
}

.mask .right-part .detail {
    width: 330px;
    line-height: 26px;
}

@media screen and (max-width: 750px) {
    .bg-img {
        width: 100%;
        height: 17.15rem;
        background: url(../images/bg_mobile.png) 100% no-repeat;
        background-size: 100%;
    }
    .top-content {
        display: none;
    }
    .mobile-nav {
        background-image: url('../images/topbg.png');
        width: 3.75rem;
        height: 1.185rem;
        background-size: 100%;
        background-repeat: no-repeat;
        overflow: hidden;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 100;
    }
    .mobile-nav .mobile-logo {
        width: 1.22rem;
        height: 0.29rem;
        float: left;
        margin-top: 0.16rem;
        margin-left: 0.15rem;
    }
    .mobile-nav .mobile-ul {
        float: left;
        width: 2.38rem;
    }
    .mobile-nav .mobile-ul ul {
        overflow: hidden;
        list-style: none;
    }
    .mobile-nav .mobile-ul ul li {
        list-style: none;
        float: left;
        font-size: 0.14rem;
        width: 0.63rem;
        height: 0.14rem;
        line-height: 0.14rem;
        margin-top: 0.24rem;
        font-weight: bold;
        text-align: center;
    }
    .mobile-nav .mobile-ul ul li a {
        color: #333333;
        text-decoration: none;
    }
    .mobile-nav .mobile-ul ul li:first-child {
        width: 0.81rem;
        margin-left: 0.29rem;
        margin-right: 17px;
    }
    .mobile-nav .mobile-ul ul li:last-child {
        width: 0.16rem;
        float: right;
        margin-right: 0.15rem;
    }
    .turing-network-mobile {
        padding-top: 1.2rem;
    }
    .turing-network-mobile .title {
        font-size: 0.3rem;
        margin-bottom: 0.1rem;
    }
    .turing-network-mobile .discribe {
        width: auto;
        font-size: 0.11rem;
        line-height: 1.5;
    }
    .turing-network-mobile .discribe1 {
        margin-top: 0;
    }
    .turing-network-mobile .dividing-line {
        width: 2.23rem;
        margin: 0.24rem auto;
    }
    .turing-network-mobile .turing-network-btn {
        width: 2.1rem;
        height: 0.33rem;
        line-height: 0.33rem;
        font-size: 0.1rem;
        margin-bottom: 0.6rem;
    }
    .block-chain-network-mobile {
        margin-bottom: 0.97rem;
    }
    .block-chain-network-mobile .second-title {
        font-size: 0.16rem;
    }
    .today-quota-mobile .third-title {
        display: block;
        font-size: 0.27rem;
        margin-bottom: 0.1rem;
    }
    .today-quota-mobile .complete-progress {
        display: block;
        margin: 0 auto;
        width: 2.97rem;
        height: 0.33rem;
        border: 1px solid #969696;
    }
    .today-quota-mobile .finish-progress {
        border-top: 0.31rem solid #FF2C7A;
        border-right: 0.08rem solid transparent;
    }
    .today-quota-mobile .finish-count {
        height: 100%;
        line-height: 0.33rem;
        font-size: 0.1rem;
    }
    .today-quota-mobile .percentage {
        display: block;
        line-height: 0.18rem;
        font-size: 0.1rem;
        color: #FF2C7A;
    }
    .today-quota-mobile .inner-box {
        width: 2.97rem;
        font-size: 0.15rem;
        margin-bottom: 0.7rem;
    }
    .today-quota-mobile .inner-box .investors {
        float: none;
        margin-top: 0.1rem;
        width: 2.1rem;
        height: 0.5rem;
        line-height: 0.5rem;
        background: url('../images/investors_mobile.png');
        background-size: 100%;
    }
    .today-quota-mobile .inner-box .super-node-application {
        float: none;
        margin-left: 0.87rem;
        margin-top: 0.17rem;
        width: 2.1rem;
        height: 0.33rem;
        line-height: 0.33rem;
        background: url('../images/application_mobile.png');
        background-size: 100%;
    }
    .application-layer-design-mobile {
        margin-bottom: 0.3rem;
    }
    .application-layer-design-mobile .fourth-title {
        font-size: 0.17rem;
        margin: 0 auto 0.76rem;
    }
    .application-layer-design-mobile .design-item {
        margin-bottom: 0.33rem;
    }
    .application-layer-design-mobile .design-left {
        padding-right: 0.33rem;
        padding-left: 0.7rem;
    }
    .application-layer-design-mobile .img100 {
        width: 0.5rem;
        height: 0.5rem;
    }
    .application-layer-design-mobile .design-title {
        font-size: 0.13rem;
        margin-bottom: 0.07rem;
    }
    .application-layer-design-mobile .design-detail {
        width: 1.24rem;
        height: 0.72rem;
        font-size: 0.1rem;
        line-height: 1.5;
    }
    .web-second-mobile .container {
        padding-right: 0;
        padding-left: 0;
    }
    .web-second-mobile .fourth-title {
        padding: 0 0.15rem;
        font-size: 0.17rem;
        margin: 0 auto;
    }
    .web-second-mobile #content3 {
        margin-top: 0;
    }
    .web-second-mobile #content3 .second-box {
        width: 3.6rem;
        height: 5.9rem;
        margin: 0 auto;
        background-image: url("../images/web_second_bg.png");
        background-size: 100%;
        background-color: transparent;
    }
    .web-second-mobile #content3 .second-box .col1 {
        padding-top: 1.03rem;
        padding-bottom: 0.56rem;
    }
    .web-second #content3 .second-box .col1 div {
        width: 100%;
        border-right: none;
        text-align: center;
    }
    .web-second-mobile #content3 .second-box .col1 img {
        width: 1.1rem;
        height: 1.1rem;
        margin: 0 auto;
    }
    .web-second-mobile #content3 .second-box .col2 {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0.93rem;
    }
    .web-second-mobile #content3 .second-box .col2 .col-title {
        font-size: 0.15rem;
        margin-bottom: 0.20rem;
        width: 1.88rem;
    }
    .web-second-mobile #content3 .second-box .col2 .col-content {
        color: #484A65;
        font-size: 0.1rem;
        line-height: 1.5;
        width: 1.88rem;
    }
    .creative-team-mobile {
        background: transparent;
        text-align: left;
        padding-bottom: 0.23rem;
    }
    .creative-team-mobile .container {
        padding-left: 0.26rem;
    }
    .creative-team-mobile .fifth-title {
        font-size: 0.23rem;
        margin-bottom: 0.1rem;
    }
    .creative-team-mobile .describe {
        font-size: 0.11rem;
    }
    .creative-team-mobile .creative-team-item {
        overflow: hidden;
        margin-top: 0;
        margin-bottom: 0.1rem;
        padding: 0 0.15rem;
    }
    .creative-team-mobile .creative-team-item:nth-of-type(1) {
        margin-top: 0.25rem;
    }
    .creative-team-mobile .creative-team-img {
        float: left;
        width: 1.8rem;
        height: 1.35rem;
        margin-bottom: 0;
    }
    .creative-team-mobile .creative-team-img .img-responsive {
        height: 100%;
    }
    .creative-team-mobile .creative-team--right {
        float: left;
        margin-left: 0.25rem;
        width: 1.2rem;
    }
    .creative-team-mobile .creative-team-name {
        font-size: 0.2rem;
        line-height: 0.35rem;
        text-indent: 0;
        margin-bottom: 0.05rem;
    }
    .creative-team-mobile .creative-team-detail {
        width: 1.15rem;
        padding: 0;
        box-sizing: border-box;
        font-size: 0.1rem;
        line-height: 1.5;
        -webkit-line-clamp: 5;
    }
    .application-mask-mobile {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: transparent;
        top: 0;
        left: 0;
        transform: translate(0);
    }
    .application-mask-mobile .mask-top {
        display: none;
    }
    .application-mask-mobile .mask-body {
        margin: 0.15rem auto 0;
        width: 3.32rem;
        height: 5.07rem;
        background: url("../images/application_mask.png");
        background-size: 100%;
    }
    .application-mask-mobile .mask-body .left-part {
        padding-top: 0.45rem;
    }
    .application-mask-mobile .mask-body .left-part img {
        width: 0.94rem;
        height: 0.89rem;
    }
    .application-mask-mobile .mask-body .left-part .left-text {
        height: 0;
        padding: 0;
        margin: 0;
    }
    .application-mask-mobile .mask-body .right-part {
        margin-top: 0.23rem;
    }
    .application-mask-mobile .mask-body .right-part .box {
        width: 100%;
        border: none;
        padding: 0;
    }
    .application-mask-mobile .mask-body .right-part .box:nth-child(1) {
        text-align: center;
    }
    .application-mask-mobile .mask-body .right-part .title {
        font-size: 0.15rem;
    }
    .application-mask-mobile .mask-body .box:nth-child(1) .title {
        margin-bottom: 0.2rem;
    }
    .application-mask-mobile .mask-body .box:nth-child(2) .title {
        width: 1.5rem;
        border-bottom: 1px solid #595959;
        padding-top: 0.2rem;
        padding-bottom: 0.16rem;
        margin: 0 auto;
    }
    .application-mask-mobile .mask-body .right-part .detail {
        width: 2.81rem;
        height: auto;
        padding: 0.14rem 0.15rem;
        border-radius: 1px;
        border: 1px solid #595959;
        margin: 0 auto;
        line-height: 1.5;
        font-size: 0.1rem;
        text-align: left;
    }
    .application-mask-mobile .close-mobile {
        display: block;
        width: 0.57rem;
        margin: -0.13rem auto 0;
    }
    .investors-mask-mobile {
        display: none;
    }
    .investors-mask-mobile .mask-body .left-part img {
        width: 1.44rem;
        height: 1.44rem;
    }
    .investors-mask-mobile .mask-body .box:nth-child(1) .title {
        margin-bottom: 0;
    }
    .hua-box {
        display: none;
    }
    .mobile-history {
        width: 3.75rem;
        height: 4.99rem;
        overflow: hidden;
        background-image: url('../images/mobile-history-bg.png');
        background-size: 100% 100%;
    }
    footer {
        margin-top: 0px;
        display: none;
    }
    .mobile-history-showbox {
        width: 2.3rem;
        height: 2.3rem;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 0.42rem;
    }
    .mobile-history-box {
        width: 2.3rem;
        float: left;
    }
    .mobile-history-box .mobile-history-date {
        color: #FF2C7A;
        font-size: 0.16rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0.45rem;
    }
    .mobile-history-box .mobile-history-title {
        font-size: 0.15rem;
        margin-bottom: 0.2rem;
        font-weight: bold;
        color: #484A65;
        text-align: center;
    }
    .mobile-history-box .mobile-history-content {
        font-size: 0.1rem;
        color: #484A65;
        text-align: left;
    }
    .mobile_history_arror_box {
        width: 0.94rem;
        margin: 0 auto;
    }
    .mobile_history_arror_box div {
        width: 0.34rem;
        height: 0.34rem;
        float: left;
    }
    .mobile_history_arror_box #mobile_history_arror_left {
        background-image: url('../images/arror.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin-right: 0.26rem;
    }
    .mobile_history_arror_box #mobile_history_arror_right {
        background-image: url('../images/arror.png');
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .mobile-history-num {
        width: 2.03rem;
        height: 0.03rem;
        margin: 0 auto;
        margin-top: 1rem;
    }
    .mobile-history-num span {
        background-color: #EDEDED;
        height: 0.03rem;
        display: inline-block;
        overflow: hidden;
    }
    .mobile-footer {
        width: 3.75rem;
        height: 5.15rem;
        background-color: #525562;
        overflow: hidden;
        position: relative;
    }
    .mobile-footer .mobile-bottom-logo {
        width: 2.64rem;
        height: 0.51rem;
        margin: 0 auto;
        margin-top: 0.52rem;
        display: block;
    }
    .mobile-footer-box {
        overflow: hidden;
        color: #ffffff;
        font-weight: bold;
        font-size: 0.12rem;
        margin-top: 0.53rem;
    }
    .mobile-footer-box1 {
        width: 0.7rem;
        overflow: hidden;
        float: left;
        margin-left: 0.59rem;
    }
    .mobile-footer-box1 div {
        margin-bottom: 0.14rem;
    }
    .mobile-footer-box2 {
        width: 0.7rem;
        overflow: hidden;
        float: left;
        margin-left: 0.2rem;
    }
    .mobile-footer-box2 div {
        margin-bottom: 0.14rem;
    }
    .mobile-footer-box3 {
        width: 0.8rem;
        overflow: hidden;
        float: right;
        margin-right: 0.59rem;
    }
    .mobile-footer-box3 div {
        margin-bottom: 0.14rem;
    }
    .mobile-e-title {
        color: #ffffff;
        font-weight: bold;
        margin-left: 0.59rem;
        margin-top: 0.34rem;
    }
    .mobile-m-logo {
        margin-top: 0.2rem;
    }
    .mobile-m-logo img {
        margin-right: 0.16rem;
    }
    .mobile-m-logo .m1 {
        width: 0.06rem;
        height: 0.1rem;
        margin-left: 0.59rem;
    }
    .mobile-m-logo .m2 {
        width: 0.12rem;
        height: 0.1rem;
    }
    .mobile-m-logo .m3 {
        width: 0.1rem;
        height: 0.1rem;
    }
    .mobile-m-logo .m4 {
        width: 0.14rem;
        height: 0.11rem;
    }
    .mobile-m-logo .m5 {
        width: 0.11rem;
        height: 0.11rem;
    }
    .mobile-second-logo {
        margin-left: 0.59rem;
        margin-top: 0.1rem;
    }
    .mobile-second-logo div {
        font-size: 0.12rem;
        color: #ffffff;
        font-weight: bold;
        float: left;
        margin-right: 0.22rem;
    }
    .mobile-second-logo div::after {
        content: '|';
        display: block;
        color: #fff;
        width: 1px;
        height: 0.05rem;
        float: left;
        margin-right: 0.22rem;
    }
    .mobile-second-logo div:first-child::after {
        display: none;
    }
    .mobile-last {
        width: 100%;
        background-color: #43454F;
        position: absolute;
        left: 0px;
        bottom: 0px;
        font-size: 0.1rem;
        color: #fff;
        font-weight: bold;
        text-align: center;
        line-height: 0.35rem;
    }
}

@media screen and (min-width: 751px) {
    .mobile-nav {
        display: none;
    }
    .mobile-history {
        display: none;
    }
    .mobile-footer {
        display: none;
    }
    .close-mobile {
        display: none;
    }
}