.jws-outside-bar {
    width: 100%;
    height: 13px;
    background-color: rgb(237, 237, 237);
    border-radius: 3px;
}

.jws-inside-bar {
    width: 0;
    height: 100%;
    border-radius: 3px;
    background-color: deepskyblue;
}

.jws-handle {
    height: 13px;
    width: 62px;
    margin-top: -13px;
    /*margin-left: calc(30% - 12.5px);*/
    display: block;
}

.jws-text {
    display: none;
    height: 30px;
    width: 80px;
    padding: 4px;
    color: #00ee00;
    margin-top: 0px;
    margin-left: -40px;
    font-size: 12px;
    text-align: center;
}


/*滑动*/

.hua-box {
    width: 100%;
    height: 600px;
    margin-top: 34px;
    overflow: hidden;
    position: relative;
}

.empty-box {
    height: 30px;
    background-color: rgb(249, 249, 249);
    margin-top: 13px;
}

.creative-team {
    margin-top: -42px;
}

.hua-box .hua-width {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 600px;
    background-image: url('../images/bt-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0px -26px;
}

.big-hua-box {
    width: 86%;
    margin-left: 14%;
    height: 360px;
    border: 1px solid red;
}

.big-hua-box #content6 {
    border-top: 6px solid #EDEDED;
    margin-top: 60px;
}

.big-hua-box #content6 .color {
    width: 26px;
    height: 6px;
}

.big-hua-box #content6 .hua1 {
    background-color: #FF2C7A;
    margin-left: 187px;
    margin-top: -6px;
}

.big-hua-box #content6 .hua2 {
    background-color: #9403EA;
    margin-left: 187px;
    margin-top: -6px;
}

.big-hua-box #content6 .hua3 {
    background-color: #FD2CFF;
    margin-left: 187px;
    margin-top: -6px;
}

.big-hua-box #content6 .hua4 {
    background-color: #77DAE3;
    margin-left: 187px;
    margin-top: -6px;
}

.big-hua-box #content6 .hua5 {
    background-color: #9403EA;
    margin-left: 187px;
    margin-top: -6px;
}

.big-hua-box #content6 .hua6 {
    background-color: #FD2CFF;
    margin-left: 187px;
    margin-top: -6px;
}

.big-hua-box #content6 .hua7 {
    background-color: #77DAE3;
    margin-left: 187px;
    margin-top: -6px;
}

.big-hua-box #content6 .huahua {
    width: 400px;
    float: left;
}

.big-hua-box #content6 .hua-date {
    background-color: #EDEDED;
    color: #999999;
    font-size: 14px;
    width: 111px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin-left: 144.5px;
    margin-top: 46px;
    margin-bottom: 46px;
}

.big-hua-box #content6 .hua-title {
    width: 225px;
    margin-left: 87.5px;
    text-align: center;
    font-size: 16px;
    color: #484A65;
    font-weight: bold;
}

.big-hua-box #content6 .hua-content {
    width: 225px;
    margin-left: 87.5px;
}